.row{
    margin:10px;
    padding-bottom: 20px;
   
}

.msg{
    color: red;
}

/* .form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  } */